.article {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 768px;
  z-index: -1;
}

.titleWrap {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.add_button {
  position: relative;
  left: 1rem;
}

.table {
  width: 80%;
}

tbody .tr {
  cursor: pointer;
}

tbody .tr:hover td {
  background-color: rosybrown;
  color: #ffffff;
}

.tr {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr 2fr;
  justify-items: center;
}

.tr td {
  user-select: none;
}

.th {
  width: 100%;
  background: lightblue;
}

.td {
  width: 100%;
  text-align: center;
  user-select: none;
  z-index: -1;
}

.nothing {
  grid-column: 1 / span 5;
  text-align: center;
}

.modal {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #33333388;
}

.modal_form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto 30vh max-content;
  width: 60vw;
  height: 30vh;
  border-radius: 1rem;
  background: #fafafa;
  list-style-type: none;
}

.modal_title {
  font-size: 2rem;
}

.modal_cancle {
  position: absolute;
  right: 1rem;
}

.modal_text {
  width: 100%;
  width: calc(100% - 0.3rem);
  padding: 0.3rem 0;
}

.modal_textarea {
  resize: none;
  width: calc(100% - 0.4rem);
  height: 100%;
}

.modal_submit {
  width: 100%;
  padding: 0.3rem;
}

.pagingUl {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  list-style-type: none;
}

.pagingLi {
  cursor: pointer;
}

.pagingLi:hover {
  scale: 1.1;
  font-weight: 800;
}

.currentPage {
  color: royalblue;
  font-weight: 800;
}