.homeLogo,
.homeLi {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgb(255, 0, 128);
}

.homeLogo {
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 1rem;
}

.homeLink {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgb(255, 0, 128);
}

@media (any-hover: hover) {

  .homeLogo:Hover,
  .homeLi:hover {
    scale: 1.1;
  }

  .homeLogo:Hover::before,
  .homeLi:Hover::before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: hotpink;
    animation: underline 100ms linear;
  }

}

@keyframes underline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}