.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #000000;
  transition: width 100ms linear;
}

.underline:hover::before {
  width: 100%;
}