.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPrimary { 
  margin-top: 3rem;
  background: var(--success-color);
  color: #ffffff;
}
.btnSecondary { 
  background: var(--secondary-color);
  color: #ffffff;
}

@media (any-hover: hover) {
  .btnPrimary:hover {
    opacity: 0.9;
  }
  .btnSecondary:hover {
    opacity: 0.9;
  }
}